Repository photoprism/photoprism, pull requests merged in 2022-06, with the labels that each got.

#2292 Pseudo-virtualize mosaic, cards and list view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/virtualization-tools.js
  frontend/src/component/photo/cards.vue
  frontend/src/component/photo/list.vue
  frontend/src/component/photo/mosaic.vue
  frontend/src/model/photo.js
Labels: improvement, please-test, frontend, ux, performance

#2433 search view render performance improvements
  frontend/src/component/photo/cards.vue
  frontend/src/component/photo/list.vue
  frontend/src/component/photo/mosaic.vue
  frontend/src/css/results.css
  frontend/src/pages/photos.vue
Labels: please-test, ux, performance

#2448 UX: Support older browsers by adding aspect-ratio CSS fallback
  frontend/src/css/results.css
Labels: improvement, frontend, work-in-progress, ux

#2379 Videos: Skip transcoding of HEVC / HVC1 if supported by the browser #440 #513
  frontend/src/model/photo.js
  internal/api/headers.go
  internal/api/video.go
Labels: improvement, frontend, ux
