Repository photoprism/photoprism, pull requests merged in 2023-06, with the labels that each got.

#3498 Config: Add video transcoding resolution option
  docker-compose.yml
  internal/config/config_ffmpeg.go
  internal/config/config_ffmpeg_test.go
  internal/config/flags.go
  internal/config/options.go
  internal/config/report.go
  internal/ffmpeg/config.go
  internal/ffmpeg/convert.go
  internal/photoprism/convert_video_avc.go
  setup/docker/arm64/docker-compose.yml
  setup/docker/docker-compose.yml
  setup/docker/nvidia/docker-compose.yml
Labels: enhancement, video, merged

#3510 Config: Downscale videos based on largest dimension
  docker-compose.yml
  internal/config/config_ffmpeg.go
  internal/config/config_ffmpeg_test.go
  internal/config/flags.go
  internal/ffmpeg/convert.go
  internal/photoprism/convert_video_avc.go
  setup/docker/arm64/docker-compose.yml
  setup/docker/docker-compose.yml
  setup/docker/nvidia/docker-compose.yml
  setup/podman/docker-compose.yml
Labels: enhancement, video

#2721 JPEG: Automatically fix files with missing EOI marker
  internal/thumb/open_jpeg.go
  internal/thumb/open_jpeg_test.go
Labels: enhancement

#2508 Metadata: When parsing dates from exiftool, remap year 0 to 1
  pkg/txt/datetime.go
  pkg/txt/datetime_test.go
Labels: waiting, enhancement, work-in-progress, metadata
