Repository photoprism/photoprism, pull requests merged in 2025-04, with the labels that each got.

#4922 AI: Improve TensorFlow for C build images and scripts
  docker/tensorflow/Dockerfile
  docker/tensorflow/arm64/create_archive.sh
  docker/tensorflow/create_archive.sh
  docker/tensorflow/cross/create_archive.sh
  docker/tensorflow/jetson-nano/create_archive.sh
Labels: docker, ai, awesome

#4930 Viewer: Add Interactive Map to Sidebar Info
  frontend/src/component/sidebar/info.vue
  frontend/src/component/sidebar/map.vue
  frontend/src/css/lightbox.css
  frontend/src/model/thumb.js
Labels: ux, metadata, merged

#4971 Upload: More elegant generateToken
  frontend/src/common/util.js
  frontend/tests/unit/common/util_test.js
Labels: frontend, merged
